force-app/main/default/flows/Auto_Convert_Qualified_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <description>Convertit automatiquement un Lead qualifié (score &gt; 15) en Contact + Opportunity via Apex</description>
    <interviewLabel>Auto Convert Qualified Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Convert Qualified Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Convert_Lead_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Condidature - Validée- Email Envoyé</stringValue>
            </value>
        </filters>
        <filters>
            <field>Score_Matching__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <!-- Étape 1 : Conversion Lead → Contact + Account + Opportunity -->
    <actionCalls>
        <name>Convert_Lead_Action</name>
        <label>Convertir Lead</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <actionName>CVScoringService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <connector>
            <targetReference>Notify_Admin_RH</targetReference>
        </connector>
        <inputParameters>
            <name>leadIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>

    <!-- Étape 2 : Email de notification à l'admin RH -->
    <actionCalls>
        <name>Notify_Admin_RH</name>
        <label>Notifier Admin RH</label>
        <locationX>176</locationX>
        <locationY>408</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>meriem.rebhi.d6f3e18c6a1f@agentforce.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>AdminEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>AdminEmailBody</elementReference>
            </value>
        </inputParameters>
    </actionCalls>

    <!-- Template : Objet -->
    <textTemplates>
        <name>AdminEmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>✅ Nouveau candidat converti — {!$Record.FirstName} {!$Record.LastName} | Score : {!$Record.Score_Matching__c}%</text>
    </textTemplates>

    <!-- Template : Corps -->
    <textTemplates>
        <name>AdminEmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Bonjour,

Un nouveau candidat vient d'être converti automatiquement par le système IA du Portail RH Talan.

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  FICHE CANDIDAT
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  Prénom / Nom   : {!$Record.FirstName} {!$Record.LastName}
  Email          : {!$Record.Email}
  Téléphone      : {!$Record.Phone}
  Entreprise     : {!$Record.Company}
  Score IA       : {!$Record.Score_Matching__c} %
  Recommandation : {!$Record.AI_Recommendation__c}
  Points forts   : {!$Record.AI_Points_Forts__c}

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  ACTIONS RÉALISÉES AUTOMATIQUEMENT
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  ✔ Lead converti en Contact + Account + Opportunity
  ✔ Email de bienvenue envoyé au candidat
  ✔ Compte portail Experience Cloud créé

  Date : {!$Flow.CurrentDateTime}

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
HR Talent Portal — Talan Tunisie (message automatique)
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━</text>
    </textTemplates>

    <status>Active</status>
</Flow>
