force-app/main/default/flows/Conversion_Automatique.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convertir_Lead</name>
        <label>Convertir Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CVScoringService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <connector>
            <targetReference>Notifier_Admin_RH</targetReference>
        </connector>
        <inputParameters>
            <name>leadIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CVScoringService</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Notifier_Admin_RH</name>
        <label>Notifier Admin RH</label>
        <locationX>0</locationX>
        <locationY>120</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>meriem.rebhi.d6f3e18c6a1f@agentforce.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Admin_Email_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Admin_Email_Body</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <textTemplates>
        <name>Admin_Email_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>✅ Nouveau candidat converti — {!$Record.FirstName} {!$Record.LastName} | Score IA : {!$Record.Score_Matching__c}%</text>
    </textTemplates>
    <textTemplates>
        <name>Admin_Email_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Bonjour,

Un nouveau candidat vient d&apos;être converti automatiquement par le système IA du Portail RH Talan.

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  FICHE CANDIDAT
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  Prénom / Nom   : {!$Record.FirstName} {!$Record.LastName}
  Email          : {!$Record.Email}
  Téléphone      : {!$Record.Phone}
  Entreprise     : {!$Record.Company}
  Score IA       : {!$Record.Score_Matching__c} %
  Recommandation : {!$Record.AI_Recommendation__c}
  Points forts   : {!$Record.AI_Points_Forts__c}

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  ACTIONS RÉALISÉES AUTOMATIQUEMENT
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  ✔ Lead converti en Contact + Account + Opportunity
  ✔ Email de bienvenue envoyé au candidat
  ✔ Compte portail Experience Cloud créé

  Date : {!$Flow.CurrentDateTime}

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
HR Talent Portal — Talan Tunisie (message automatique)
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━</text>
    </textTemplates>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Conversion Automatique {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conversion Automatique</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Condidature - Validée- Email Envoyé</stringValue>
            </value>
        </filters>
        <filters>
            <field>Score_Matching__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <connector>
            <targetReference>Convertir_Lead</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
